.counterWrapper {
    width: 400px;
    height: 320px;
    border: 5px solid white;
    margin: 50px;
    border-radius: 10px;
}
.counterValueWrapper {
    width: 150px;
    height: 200px;
    border: 2px solid white;
    margin: 20px auto;
    position: relative;
    border-radius: 10px;
}
.counterValue {
    font-size: 80px;
    color: white;
    position: relative;
    top: 35px;
    background-color: #120E06;
}
.buttonWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}